In [8]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("DataFrame").getOrCreate()

1. READ THE CSV FILE WITH PYSPARK

In [4]:
order_df = spark.read.format("csv").option("header", "true") \
    .option("inferSchema", "true") \
    .load("student.csv")

In [9]:

order_df = spark.read.csv('student.csv', inferSchema=True, header=True)
order_df.show(5)

+---+----------+-----+----+------+
| id|      name|class|mark|gender|
+---+----------+-----+----+------+
|  1|  John Deo| Four|  75|female|
|  2|  Max Ruin|Three|  85|  male|
|  3|    Arnold|Three|  55|  male|
|  4|Krish Star| Four|  60|female|
|  5| John Mike| Four|  60|female|
+---+----------+-----+----+------+
only showing top 5 rows

In [10]:
order_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- class: string (nullable = true)
 |-- mark: integer (nullable = true)
 |-- gender: string (nullable = true)

In [9]:
col = order_df["_c1"]
col

Column<'_c1'>