Agg function()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Tutorial_5').getOrCreate()

In [4]:
df_3 = spark.read.csv('data/test3.csv',header=True,inferSchema=True)

In [ ]:
df_3.show()

In [5]:
df_3.agg({'Departments':'count'}).show()

+------------------+
|count(Departments)|
+------------------+
|                10|
+------------------+

In [6]:
df_3.groupBy('Departments').agg({'Departments':'count'}).show()
df_3.groupBy('Departments').count().show()

+------------+------------------+
| Departments|count(Departments)|
+------------+------------------+
|         IOT|                 2|
|    Big Data|                 4|
|Data Science|                 4|
+------------+------------------+

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [10]:
# Group by Name, then get the certain rows having max salary of each Name
df_3.groupBy('Name').max().show()
df_3.groupBy('Name').agg({'salary':'max'}).show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

:

ALTERNATIVELY, USING PYSPARK.SQL

In [10]:
spark.sql("select name, max(salary) from {df} group by Name", df=df_3).show()

+---------+-----------+
|     name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+