Filter operations:
- Using pySpark.sql.Datarame.filter()
- Using pySpark.sql.select/where combine with .sql.functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark= SparkSession.builder.appName("Tutorial4 Filter").getOrCreate()

In [3]:
demo_df = spark.read.csv('data/test1.csv', header=True, inferSchema=True)

In [5]:
demo_df.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
# demo_df.filter("Age < 31").show()
demo_df.filter(demo_df.Age <31).show()

In [7]:
demo_df.where('Age<31').show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [8]:
# from pyspark.sql import functions as fncs
import pyspark.sql.functions as fncs

In [9]:
# Insert new col 'Level' that returns 'Fresher' if the Age <2,
# or rerturns 'Junior' if the Age in [2, 5)
# otherwise, returns 'Senior'
filter_df = demo_df.withColumn(
    'Level',
    fncs.when(fncs.col('Experience')<2 ,'Fresher')
    .when( (fncs.col('Experience')>=2) & (fncs.col('Experience')<5), 'Junior')
    .otherwise('Senior')
)

In [10]:
filter_df.show()

+---------+---+----------+------+-------+
|     Name|Age|Experience|Salary|  Level|
+---------+---+----------+------+-------+
|    Krish| 31|        10| 30000| Senior|
|Sudhanshu| 30|         8| 25000| Senior|
|    Sunny| 29|         4| 20000| Junior|
|     Paul| 24|         3| 20000| Junior|
|   Harsha| 21|         1| 15000|Fresher|
|  Shubham| 23|         2| 18000| Junior|
+---------+---+----------+------+-------+

In [11]:
demo_df.filter((demo_df['Salary'] > 15000) &
               (demo_df.Salary < 25000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [16]:
# filter_df.where(fncs.col('Level').isin(['Senior'])).show()
filter_df.where((fncs.col('Level') == 'Senior') |
                (fncs.col('Age') > 25)).show()

+---------+---+----------+------+------+
|     Name|Age|Experience|Salary| Level|
+---------+---+----------+------+------+
|    Krish| 31|        10| 30000|Senior|
|Sudhanshu| 30|         8| 25000|Senior|
|    Sunny| 29|         4| 20000|Junior|
+---------+---+----------+------+------+